.avatar {
    width: 56px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

.avatar:hover {
    cursor: pointer;
}

.search {
    width: 50%;
    margin-top: 20px;
}

.top {
    display: flex;
    min-height: var(--base-size-56, 56px);
    width: 100%;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.userProfile {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

ul li {
    font-size: 20px;
}