.create {
  background-color: #cdcbcb;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.create:hover {
  background-color: #e0e0e0;
}

.create-icon {
  width: 26px;
  height: 26px;
  object-fit: contain;
}


/* Hover for Navigation Bar */
.hover-underline{
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.95rem;
  opacity: 0.8;
}

.hover-underline:hover {
  opacity: 1;
  color: #ffffff;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 15%;
  background-color: #fafafa;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #b5b5b5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 500;
}
  
.nav-wrapper li:first-child{
  margin-right: auto;
}

.navbar {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1rem 0rem 0rem 2;
}

.navbar li{
  text-decoration: none;
  font-weight: bold;
  color: #333;
  height: 100%;
  padding: 0 20px;
  display: flex; 
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(20px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}

.sidebar li {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar li:hover {
  background-color: rgba(0, 0, 0, 0.05); /* soft highlight */
}