  .note-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }
  
  .note-header {
    width: 100%;
    max-width: 520px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 12px;
  }
  
  /* .follow-btn {
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
  } */
  
  .note-scroller {
    background-color:  var(--body_background);
    width: 100%;

    border-radius: 12px;
    overflow: hidden;
  }
  
  .image-section {
    width: 100%;
    background-color: var(--body_background);
    padding-top: 40px; 
  }
  
  .image-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .bounded-image {
    height: 500px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
  }
  
  .note-content {
    padding: 16px;
    padding-left: 24px;
    color:  var(--body_color);
  }
  
  .note-content .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
  }
  
  .note-content .desc {
    line-height: 1.5;
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 20px;
  }
  
  .note-footer {
    background-color: var(--card-bg);
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* lighter for dark theme */
    padding: 12px 16px;
  }
  
  .note-footer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px 0;
  }
  
  .actions {
    margin-top: 12px;
    display: flex;
  }