.avatar {
    width: 56px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

.avatar:hover {
    cursor: pointer;
}

.main{
    padding-top: 80px;
}

.home-section {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.home-title {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    padding-top: 2rem;
    color: var(--title_color);
  }

  body[data-theme="dark"] .home_search_bar .MuiOutlinedInput-root {
    color: white;
  }
  
  body[data-theme="dark"] .home_search_bar .MuiOutlinedInput-root fieldset {
    border-color: white;
  }
  
  body[data-theme="dark"] .home_search_bar .MuiInputLabel-root {
    color: white;
  }
  
  body[data-theme="dark"] .home_search_bar .MuiInputLabel-root.Mui-focused {
    color: white;
  }
  
  .home-subtitle {
    font-size: clamp(0.3rem, 3vw, 1.125rem);
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    max-width: 2000px;
    line-height: 1.5;
    color: var(--subtitle_color);
  }

.search {
    width: 50%;
    margin-top: 20px;
}

.slide_section {
  text-align: center;
  margin: 10px 0 0px;
}

.slide_title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 700;
  color: var(--title_color);
}

.slide_subtitle {
  font-size: clamp(0.3rem, 3vw, 1.125rem);
  color: var(--subtitle_color);
  margin-bottom: 20px;
}

.top {
    display: flex;
    min-height: var(--base-size-56, 56px);
    width: 100%;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.userProfile {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

ul li {
    font-size: 20px;
}