/* Hover for Navigation Bar */
  .profileHover-underline{
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: var(--body_color); 
    text-decoration: none;
    font-size: 0.95rem;
    opacity: 1;
    
  }
  
  .profileHover-underline:hover {
    opacity: 1;
    color: var(--body_color);
  }
  
  .profileHover-underline::after {
    content: '';
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1.1rem;
    left: 10%;
    background-color: var(--body_color);
    
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .profileHover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* Profile Navigation Bar */
  .profileNav-wrapper {
    width: 100%;
    border-bottom: 2px solid #b5b5b5;
    padding-bottom: 1rem;
  }

  .profileNavbar {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    padding: 1rem 0rem 0rem 2;
    list-style: none;
  }
  
  .profileNavbar li{
    text-decoration: none;
    font-weight: bold;
    color: var(--profileNavbar_color); 
    height: 100%;
    padding: 0 20px;
    display: flex; 
  }

  /* Profile CSS */

  .edit-profile-btn {
    cursor: pointer;
    background-color: #d3d3d3;
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
    color: #333;
    font-size: 0.9rem;
  }
  
  .name-edit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    max-width: 300px;
  }

  .profile-page-wrapper {
    color: white;
    padding: 2rem;
    padding-top: 80px;
    min-height: 100vh;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .profile-avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    padding: 10px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  .profile-name {
    color: var(--profile_name_color); 
    font-size: 2rem;
    white-space: nowrap;
    font-weight: bold;
    margin: 0;

  }
  
  .profile-id,
  .profile-bio {
    color: var(--profile_text_color); 
    margin-top: 4px;
  }
  
  .profile-stats {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    color: #ccc;
  }

  .tab_heading{
    color: var(--title_color); 
  }

  .subscribers-list {
    display: flex;
    justify-content: flex-start;  
    align-items: flex-start;
    gap: 20px;                   
    flex-wrap: wrap;
    padding-left: 32px;           
  }
  