.contentSidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: var(--body_background);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #ddd;
  z-index: 1000;
}

.section {
  margin-top: 20px;
}

.section h4 {
  font-size: 12px;
  color: grey;
  margin-bottom: 8px;
}

.section ul {
  list-style: none;
  padding-left: 0;
}

.section li {
  margin-bottom: 12px;
  color: var(--sidebar_color);
  cursor: pointer;
}

.section li:hover {
  background-color: var(--sidebar_background);
  border-radius: 8px;
  padding-left: 10px;
  transition: background-color 0.2s ease;
}

.upload-btn {
  background-color: #f04f61;
  color: white;
  border: none;
  padding: 10px 100px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 16px; 
  cursor: pointer;
}
.logo{
  padding-bottom: 16px;
  color: var(--sidebar_color);
}
.top-section {
  flex: 1 1 auto;         
  overflow-y: auto;       
  overflow-x: hidden;
  min-height: 0;         
}
.bottom-section {
  font-size: 14px;
  color: gray;
  cursor: pointer;
  padding-top: 16px;
  margin-bottom: 50px;
}